@Scripts.Render("~/bundles/jqueryui")

<div class="jumbotron">
    <input type="text" id="symbols" name="symbols" />
    <input type="button" id="searchBtn"  title="Search" value="Search" />
    <label id="quoteLbl" > </label>
</div>

@section Scripts {
    <script type="text/JavaScript">
        var availableTags = ["AAPL","MSFT"];

        $(document).ready(function () {
            $("#symbols").autocomplete({source: availableTags});
        });

        $('#searchBtn').click(function () {

            var x = document.getElementById('symbols').value;
            document.getElementById('quoteLbl').innerHTML = x;

            var url = "/apinew/quotes/GetSymbols?filter=aadl";
            $.get(url, null, function (data) {
                alert(data);
                $("#rData").html(data);
            });
        })

        //function quote()
        //{
        //    //alert("Hello");
        //    var x = document.getElementById('symbols').value;
        //    document.getElementById('quoteLbl').innerHTML = x;//'example';
            
        //    //$.ajax({
        //    //    url: "test.html",
        //    //    context: document.body
        //    //}).done(function () {
        //    //    $(this).addClass("done");
        //    //});

        //    $.get(url, null, function (data) {
        //        $("#rData").html(data);
        //    });

        //}
    </script>
}